REACT_APP_BASE_URL=https://skillbridge-e-learning-platform.onrender.com
REACT_APP_RAZORPAY_KEY=your_razorpay_key_id

CLIENT_URL=https://skillbridge-e-learning-platform-8wj.vercel.app
MONGODB_URL=your_mongodb_atlas_uri
JWT_SECRET=your_jwt_secret
CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret
FOLDER_NAME=skillbridge
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=your_email_address
MAIL_PASS=your_email_app_password
RAZORPAY_KEY=your_razorpay_key_id
RAZORPAY_SECRET=your_razorpay_secret
